Repository jbenner-radham/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, sort-package-json

.lintstagedrc.yaml:

'*.{js,json,md}': eslint --fix
package.json: sort-package-json

Add markdown files to lint-staged config
  .lintstagedrc.yaml
Due: none

Simplify JS file glob for eslint dev config
  eslint.config.js
Due: eslint --fix

Upgrade eslint js plugin
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade the stylistic eslint plugin
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade typescript eslint dependency
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade dev dependencies
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Update changelog
  CHANGELOG.md
Due: eslint --fix

8.0.0
  package.json
Due: eslint --fix, sort-package-json

Add pnpm minimum release age config
  pnpm-workspace.yaml
Due: none

Upgrade lint-staged
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade @eslint/markdown
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Add radhamGfm config
  CHANGELOG.md
  README.md
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/gfm.js
  src/index.js
Due: eslint --fix, sort-package-json

Change lint-staged config format
  .lintstagedrc.yaml
  lint-staged.config.js
Due: eslint --fix

Reformat changelog
  CHANGELOG.md
Due: eslint --fix

Prepare for release
  CHANGELOG.md
Due: eslint --fix

8.1.0
  package.json
Due: eslint --fix, sort-package-json

Add eslint-plugin-unicorn
  package.json
  pnpm-lock.yaml
  src/index.js
Due: eslint --fix, sort-package-json

Update dependencies and changelog
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Add repo info to package manifest
  package.json
Due: eslint --fix, sort-package-json

9.0.0
  package.json
Due: eslint --fix, sort-package-json

Add to allow list of prevent-abbreviations rule
  CHANGELOG.md
  src/index.js
Due: eslint --fix

10.0.0
  package.json
Due: eslint --fix, sort-package-json

Upgrade stylistic plugin
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade the eslint compat dependency
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade typescript-eslint dependency
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Upgrade lint-staged dev dependency
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

10.1.0
  package.json
Due: eslint --fix, sort-package-json

Enforce dashes for text encoding identifiers
  CHANGELOG.md
  src/index.js
Due: eslint --fix

11.0.0
  package.json
Due: eslint --fix, sort-package-json

Disable the unicorn/no-array-for-each rule
  src/index.js
Due: eslint --fix

Add fn to abbreviations allow list
  src/index.js
Due: eslint --fix

12.0.0
  package.json
Due: eslint --fix, sort-package-json

Add @radham/changelog dev dependency
  package.json
  pnpm-lock.yaml
Due: eslint --fix, sort-package-json

Disable unicorn/no-useless-undefined rule
  CHANGELOG.md
  src/index.js
Due: eslint --fix

Update np script
  package.json
Due: eslint --fix, sort-package-json

13.0.0
  package.json
Due: eslint --fix, sort-package-json
